@charset "UTF-8";
* {
	box-sizing:border-box;
}
body {
	font-family: helvetica, sans-serif;
	color:#555;
}
section.week {
	width:100%;
	margin:0 0 20px;
	box-shadow:0 2px 1px rgba(0,0,0,0.3);
	border-radius:3px;
	padding:0 30px 30px;
} 
section.workout {
	margin:0 -30px;
	padding:0 30px;
}
h2 {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	background:#5db7ef;
	color:#fff;
	padding:5px 15px;
	margin:0 -30px;
}
h3 {
	margin:0;
	padding:15px 0 0;
}

.reps:after {
	content:'repetitions'
}
.jog:after {
	content:'jogging'
}
.walk:after {
	content:'walking'
}
.time.sec:after {
	content:'seconds'
}
.time.min:after {
	content:'minutes'
}
.time.none:before {
	content:'no'
}
.wkStatus, .woStatus {
    position: relative;
	top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
	float: left;
	font-size: 0.9em;
	margin-right:5px;
}
.wkStatus:after, .woStatus:after {
	content: "\e157";
}
.wkClosed .wkStatus:after, .woClosed .woStatus:after {
	content: "\e067";
}
.week.wkClosed {
opacity:0.5;
}
.woClosed {
opacity:0.5;

}
.week, .workout {
transition:opacity 500ms;
}