@charset "UTF-8";
* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	color: #555;
}
.container {
	padding: 0;
}
section.week {
	width: 100%;
	margin: 0 0 15px;
	padding: 0 30px 15px;
	border-bottom: 2px solid rgba(43,85,111,1);
}
section.workout {
	margin: 0 -30px;
	padding: 0 30px;
}
h2 {
	background: rgba(43,85,111,1);
	color: #fff;
	padding: 5px 15px;
	margin: 0 -30px;
}
h3 {
	margin: 10px 0;
	padding: 15px 0 5px;
	border-bottom: 1px dotted;
}
header, nav {
	margin: 0 15px 10px
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav li {
	display: inline;
}
nav li a {
	background: rgba(43,85,111,1);
	color: #fff;
	padding-top: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	font-size: 1.4em;
	font-weight: bold;
	margin: 5px;
	transition: background 300ms;
}
nav li a:hover, nav li a:active, nav li a:focus, nav li a:visited {
	background: rgba(43,85,111,0.5);
	text-decoration: none;
	color: #fff;
}
a.backTop {
	display: block;
	margin: 0 auto 15px;
	width: 50%;
}
.reps, .jog, .walk {
	font-size: 1.6em;
	font-weight:bold;
}
.reps:after, .jog:after, .walk:after, .time:after {
margin-left: 5px;
font-size: 0.8em;
font-weight:normal;
}
.reps:after {
	content: 'repetitions:';
}
.jog:after {
	content: 'jogging'
}
.walk:after {
	content: 'walking'
}
.time.sec:after {
	content: 'seconds'
}
.time.min:after {
	content: 'minutes'
}
.time.none:before {
	content: 'no'
}
.wkStatus, .woStatus {
	position: relative;
	top: 2px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	float: left;
	font-size: 0.9em;
	margin-right: 5px;
}
.wkStatus:after, .woStatus:after {
	content: "\e157";
}
.wkClosed .wkStatus:after, .woClosed .woStatus:after {
	content: "\e067";
}
.week.wkClosed {
	opacity: 0.5;
}
.woClosed {
	opacity: 0.5;
}
.week, .workout {
	transition: opacity 500ms;
}
